[user]
	name = Chris Bloom
	email = chrisbloom7@github.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCz4RnLFX6PK+4A7yOAkjDZvvClFzLFdTKWFE9mY2WabGV6fK/FeZNvoT0WWKaMtO5OQosbCXLgZ3W3Bw/LTpvFOZcCGzCXhK7bzQ7S6gvkjkupkCxfQV/x0nYUjPaWPAjvviUTPPATxWAr749i3Vf7J5sV9Bd/jK1wbcHAhgYDEH8mqP5ty4GQ2GP9KjuPrEVDYcudHlOSQnOShRrcuOs5SItrocVq6lgVAm5oolpAHJgbMHqS3UG2VcYA1P/EA1TYSiTWEbJG1wZzAnejOK2iRYuQxzyeyk/Qscq9jXWRXbNU7rSuAKQRyv2khfyLQc5HFDkaawMLLbYjrwo/c34bQdTz6uwqQtDvc101C80nX04fqaTQaqVYhkws0Pyup4QaMGdTwnUXMPMaMu0X88jRLkjk/2S+zXcyRtYjwmqZepYTG4ZkyfiGDEwyluc41Za28nroxzfNYDJtbrDnOG6OlKDgiR2SqWBVLUP4Yt58XdSvz7q8wC5EahjBOuSy4cUqpoDsQ+vlxGVTIk+y1Glto/BssqMEN34FsU2D2+zzGwzbhcqi/KyTdR0sSRvAxTvLZganKDGKszD4IrLZ0WloedvAgWXwShgEh85F4pLSxfvqXHRwDKZSxxhRzAMvVXr9xjAsTaWj2ZxiehGc3phIC80HBEh9KATAqWeDR7U7kw==
[github]
	user = chrisbloom7
[core]
	autocrlf = input
	safecrlf = warn
	excludesfile = ~/.gitignore_global
[alias]
	# Shortcuts
	br = branch
	ci = commit
	co = checkout
	com = !git switch $(git head-branch)
	pom = !git pull origin $(git head-branch)
	stat = status

	# Log reporting
	last = log -1 HEAD
	me = !git pretty | grep Chris\\ Bloom | less
	pretty = log --pretty=format:"%h%x09%an%x09%ad%x09%s"
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

	# Navigation
	default-branch = !git config get --global --default="master" init.defaultBranch
	ignored = ls-files -o -i --exclude-standard
	ls = ls-files
	upstream-name = !git remote | egrep -o '(upstream|origin)' | tail -1
	head-branch = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'

	# Cleanup
	nuke = !git clean -df && git reset --hard
	sweep = !git fetch && git branch --merged $([[ $1 != \"-f\" ]] && git rev-parse $(git head-branch)) | egrep -v \"(^\\*|^\\s*(`git head-branch`|develop)$)\" | xargs git branch -d
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	ui = true
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[push]
	default = simple
[remote "origin"]
	push = HEAD
[ui]
	interactive = auto
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
# [credential "https://github.com"]
# 	username = chrisbloom7
# 	helper = !/opt/homebrew/bin/gh auth git-credential
# [url "git@github.com:"]
# 	insteadOf = https://github.com/
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[credential "https://gist.github.com"]
	username = chrisbloom7
	helper = !/opt/homebrew/bin/gh auth git-credential
# [commit]
# 	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
