[application]
name = Custom Autocomplete Scripts

# Additional configuration files beyond the default set
[configuration_files]
.hunt-cli/autocomplete_zsh
.config/op/plugins.sh
.iterm2_shell_integration.zsh
.stripe-completion.zsh
